#texting{
	column-count:4;
	column-width: 120px;
	border-spacing: 10px 5px;
	}


.box{
	display: table-cell;
	padding: 10px;
	
}

h5{
	font-style: bolder;
	margin-left: 20px;
}


button{
	border: 2px orange;
	border-radius:10px;
	background-color: white;
	outline:none;

}





























