#texting{
	column-count:4;
	column-width: 120px;
	border-spacing: 10px 5px;
	}


.box{
	display: table-cell;
	padding: 10px;
	
}

h5{
	font-style: bolder;
	margin-left: 20px;
}

article#part1,#part3,#part5  {
	border: 2px solid black ;
	background-color: whitesmoke;

}

button {
	border: 2px double blue;
	background-color: white;
	outline:none;
}


























